[submodule "ui"]
	path = ui
	url = git@github.com:Robin-w151/orfarchiv-ui
[submodule "db"]
	path = db
	url = git@github.com:Robin-w151/orfarchiv-db
[submodule "scraper"]
	path = scraper
	url = git@github.com:Robin-w151/orfarchiv-scraper
